[submodule "recomp-ui"]
	path = recomp-ui
	url = https://github.com/mstan/recomp-ui.git
[submodule "gbarecomp"]
	path = gbarecomp
	url = https://github.com/mstan/gbarecomp.git
[submodule "third_party/pokeruby"]
	path = third_party/pokeruby
	url = https://github.com/pret/pokeruby
